[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
black = "*"

[packages]
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
